@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #210000;
}

/* Theme variables */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Plus Jakarta Sans", Arial, sans-serif;
  --font-mono: "Plus Jakarta Sans", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #f0f0f0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree Regular", "Plus Jakarta Sans", Arial, sans-serif;
}

@font-face {
  font-family: "Kunire Grotesk";
  src: url("/fonts/Kunire-Grotesk.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.kunire-grotesk {
  font-family: "Kunire Grotesk", "Plus Jakarta Sans", Arial, sans-serif;
}

@font-face {
  font-family: "Figtree Regular";
  src: url("/fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.figtree-regular {
  font-family: "Figtree Regular", "Plus Jakarta Sans", Arial, sans-serif;
}

/* Custom styles can be added here if needed */
